/* Основной цвет текста */
body, p, span, h1, h2, h3, h4, h5, h6 {
  color: #525252 !important;
}

/* Основной цвет кнопок */
button, .button {
  background-color: #225641 !important;
  color: white !important;
}

/* Ховер для кнопок */
button:hover, .button:hover {
  background-color: #2E7558 !important;
}

/* Основной цвет ссылок */
a {
  color: #225641 !important;
  text-decoration: none !important;
}

/* Ховер для ссылок */
a:hover {
  color: #2E7558 !important;
  text-decoration: underline !important;
}

/* Удаление жёлто-зелёной линии, если она добавляется после ссылок */
a::after {
  content: none !important;
}

/* Цвет неактивных вкладок */
.nav-tab {
  color: #7A7A7A !important;
}

/* Цвет заголовков групп в меню */
.nav-group-title {
  color: #525252 !important;
}

/* Стили для активной вкладки */
.nav-tab.active {
  color: #225641 !important;
  background-color: #ECFFC7 !important;
  font-weight: bold;
}
